<div id="<%= dom_id lanch %>">
  <p>
    <strong>Nome:</strong>
    <%= lanch.nome %>
  </p>

  <p>
    <strong>Ingredientes:</strong>
    <%= lanch.ingredientes %>
  </p>

  <p>
    <strong>Custo:</strong>
    <%= lanch.custo %>
  </p>

  <p>
    <strong>Preco sugerido:</strong>
    <%= lanch.preco_sugerido %>
  </p>

</div>
