<div id="<%= dom_id compra %>">
  <p>
    <strong>Item:</strong>
    <%= compra.item_id %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= compra.nome %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= compra.preco %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= compra.peso %>
  </p>

  <p>
    <strong>Data compra:</strong>
    <%= compra.data_compra %>
  </p>

</div>
