<div id="<%= dom_id item %>">
  <p>
    <strong>Nome:</strong>
    <%= item.nome %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= item.preco %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= item.peso %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= item.descricao %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= item.categoria %>
  </p>

  <p>
    <strong>Disponivel:</strong>
    <%= item.disponivel %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%= item.ativo %>
  </p>

</div>
